{% extends "base.html" %}
{% load allauth socialaccount %}

{% block title %}
Sign Up - CozyDay
{% endblock %}

{% block content %}
<h2>Sign Up</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit">Sign Up</button>
</form>

<p>
    Already have an account?
    <a href="{% url 'login' %}">Log in</a>
</p>

{% get_providers as socialaccount_providers %}
{% if socialaccount_providers %}
<hr>
<h3>Or use a third-party</h3>
<ul>
    {% for provider in socialaccount_providers %}
    <li><a href="{% provider_login_url provider.id process='signup' %}">{{ provider.name }}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
